* {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cigg {
  margin-right: 400px;
  margin-left: 300px;
  width: 400px;
}
form {
  width: 400px;
}
.email,
.password {
 display: flex;
 flex-direction: column;
 gap: 15px;
}

.email input,
.password input{
  width: 100%;
  padding: 10px 15px;
}

.checkbox {
 display: flex;
 justify-content:space-between;
 margin-top: 15px;
}

.checkbox div{
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn {
  width: 100%;
  padding: 15px 20px;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 10px 0 0 15px;
}

.google {
 width: 100%;
  padding: 15px 20px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 10px 0 0 15px;
}